<div class="footer-container">
  <div class="footer-redes">
    <div class="footer-red footer-facebook btn" (click)="openURL('https://www.facebook.com/')"><i
        class="footer-facebook fab fa-facebook-f"></i></div>
    <div class="footer-red footer-twitter btn" (click)="openURL('https://www.twitter.com/')"><i class="fab fa-twitter"></i>
    </div>
    <div class="footer-red footer-instagram btn" (click)="openURL('https://www.instagram.com/')"><i
        class="fab fa-instagram"></i></div>
    <div class="footer-red footer-youtube btn" (click)="openURL('https://www.youtube.com/')"><i
        class="fab fa-youtube"></i>
    </div>
  </div>
</div>