/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');
@import './bootstrap-grid.min.css';

@import './button.scss';
@import './input.scss';

body{
  margin: 0;
}
body, body * {
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(224, 223, 223);
  // border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206);
}

// Extras
.pointer {
  &:hover {
    cursor: pointer;
  }
}